.text-danger.italic {
    padding: 5px 0px 0px 18px;
    color: red;
    font-style: italic;
    font-size: 14px;
}

.login-footer {
    padding: 12px 15px;
}

.login-wrapper .left-block { 
    background: #242422;
} 

.alert-dropdown .dropdown-item .notification {
    padding: 14px 16px 14px 30px;
} 

.footer {
    margin-top: -75px !important;
}

div.table-header > div.pull-left {
    float: right;
}

form#page-rows-form > .control-label {
    margin: 20px;
}

form#page-rows-form > div.pull-left {
    margin: 10px 10px 10px -10px;
}

div.table-header > form.search-form {
    margin: 10px;
}

#table-footer{
    margin: 10px;
    display: grid;
}

.pagination{
    display:inline-block;padding-left:0;margin:20px 0;border-radius:4px
}

.pagination>li{
    display:inline
}

.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#7b8571;text-decoration:none;background-color:#fff;border:1px solid #ddd}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{color:#23527c;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;cursor:default;background-color:#7b8571;border-color:#7b8571}.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-top-left-radius:6px;border-bottom-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-top-left-radius:3px;border-bottom-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}

.card .card-header {
    display: block;
} 

.sidebar {
    background: #18191a;
}

.header .header-left {
    background: #ff7200;
}

@media (max-width: 991px){
    .header .header-left{
        background: none;
    }
}

.sidebar .main-navigation .nav-link .nav-item.active, .sidebar .main-navigation .nav-link .nav-item:hover {
    color: #e97027;
}

.font-25{
    font-size: 25px;
}

/* Gritter */
.gritter-close {
    top: 8px;
    right: 5px;
}

.gritter-item p {
    font-size: 14px;
}

.gritter-title {
    font-size: 12px;
}

.gritter-item-wrapper.gritter-info {
    background: rgb(67 130 145 / 82%);
}

.gritter-item-wrapper.gritter-success {
    background: rgb(89 131 75 / 82%)
}

.gritter-item-wrapper.gritter-danger {
    background: rgb(153 40 18 / 82%);
}

.gritter-item-wrapper.gritter-warning {
    background: rgb(183 144 60 / 80%);
}

.gritter-item-wrapper {
    background-image: none!important;
    box-shadow: 0 2px 10px rgb(50 50 50 / 50%);
}

.gritter-item {
    padding-top: 10px;
}

.text-orange {
    color: #ff7200 !important;
}

.font-18{
    font-size: 18px;
}

.color-grey{
    color: #a0a6ad;
}

.modal-dialog{
    overflow-y: initial !important;
}

.modal-body{
    /* height: 80vh; */
    overflow-y: auto;
}

.primary-modal.modal .modal-dialog .modal-content .modal-footer {
    padding: 30px 20px 18px;
}

.h-80vh{
    height: 80vh;
}

.ui-autocomplete, .ui-menu {
    border: 1px solid rgba(0,0,0,.2)
}

.ui-menu {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    background-color: #FFF;
    padding: 3px
} 

/* Calendar */
.fc-dayGridMonth-button.btn.btn-white.btn-h-lighter-blue.btn-a-blue.active {
    color: white !important;
    background-color: #e97027 !important;
}

.fc-timeGridWeek-button.btn.btn-white.btn-h-lighter-blue.btn-a-blue.active {
    color: white !important;
    background-color: #e97027 !important;
}

.fc-timeGridDay-button.btn.btn-white.btn-h-lighter-blue.btn-a-blue.active {
    color: white !important;
    background-color: #e97027 !important;
}

.fc-listWeek-button.btn.btn-white.btn-h-lighter-blue.btn-a-blue.active {
    color: white !important;
    background-color: #e97027 !important;
}

.bgc-red-d1 {
    border: #db4747!important;
    background-color: #db4747!important;
} 

.bgc-blue-d2 {
    border: #387bcd!important;
    background-color: #387bcd!important;
} 

.bgc-green-d2 {
    border: #33a47b!important;
    background-color: #33a47b!important;
}  

.fc .fc-list-event-dot {
    border: calc(var(--fc-list-event-dot-width,10px)/ 2) solid #ffffff;
}

.fc .fc-list-event:hover td {
    background-color: #60605b;
}

.primary-tabs.responsive-tab-accordion.responsive-tab .tab-pane {
    padding: 10px;
}

.nav-tabs .nav-link {
    margin-bottom: 0px;
}

.dropdown-menu.show{
    top: -50px !important;
}